@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
h1 {
    text-decoration: none;
    font-size: unset;
    font-weight: unset;
    padding: 0;
    margin: 0;
}